{% extends 'security/base.html.twig' %}
{% block class %} login-page{% endblock %}
{% block body %}
<div class="login-box">
    {% include 'security/logo.html.twig' %}
    <div class="login-box-body">
        <p class="login-box-msg">To reset your password, please enter your e-mail address registered with your account and an e-mail will be sent with further instructions.</p>

        <form action="{{ path('app_forgot_pw') }}" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-4"></div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <a href="{{ path('app_login') }}" type="submit" class="btn btn-default btn-block btn-flat">Cancel</a>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Send E-Mail</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}
