{% extends 'security/base.html.twig' %}
{% block class %} login-page{% endblock %}
{% block body %}
    <div class="login-box">
        {% include 'security/logo.html.twig' %}
        <form>
            <div class="login-box-body">
                <p class="login-box-msg">Your API key for the <a href="https://gitlab.com/shuki25/edscc-plug-in">EDMC Plug-in</a>  is:</p>
                <div class="input-group">
                    <input id="apikey" class="form-control" value="{{ app.user.apikey }}" disabled="disabled"
                           placeholder="{% trans %}API Key not generated{% endtrans %}">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="copyToClipboard('apikey')" aria-label="Copy"><i class="fa fa-copy"></i></button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <a href="{{ path('dashboard') }}" type="submit" class="btn btn-default btn-block btn-flat">Done</a>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.login-box-body -->
        </form>
    </div>
    <!-- /.login-box -->
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    function copyToClipboard(elementId) {
        var aux = document.createElement("div");
        aux.setAttribute("contentEditable", true);
        aux.innerHTML = document.getElementById(elementId).getAttribute('value');
        // console.log(aux.innerHTML);
        aux.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");
        document.body.appendChild(aux);
        aux.focus();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }
</script>
{% endblock %}