<div class="login-logo">
    <div class="row">
        <div class="col-xs-2"">
            <img src="{{ asset('img/ed-assets/squadrons.png') }}" style="width: 70px; height:auto;" />
        </div>
        <div class="col-xs-10 text-gray">
            <b>Elite Dangerous:</b><br>Squadron Command Center
        </div>
    </div>
</div>
<!-- /.login-logo -->