{% extends 'security/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/edscc.css') }}">
{% endblock %}
{% block class %} login-page{% endblock %}
{% block body %}
    <div class="login-box">
        <div class="login-box-header">
            {% include 'security/logo.html.twig' %}
        </div>
        <div class="login-box-body">
            <div class="login-box-msg">
                <p>{% trans %}Pending Access{% endtrans %}</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4><b>{% trans with {'%name%': app.user.squadron.name} %}Welcome to %name% squadron!{% endtrans %}</b></h4>
                    <p style="padding-top: 10px;">{% trans with {'%cmdr%': app.user.Squadron.admin.commandername} %}pending_access_message{% endtrans %}</p>
                </div>
            </div>
            <div class="row text-center" style="padding-top: 15px;">
                <div class="col-md-12">
                    <a href="{{ path('app_logout') }}" class="btn btn-default">{% trans %}Return to Login Screen{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}