input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #CCC;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.report-label {
    /*+placement: 15px 5px;*/
    position: relative;
    left: 15px;
    top: 5px;
}

.report-picker {
    width: 500px;
}

.tag-button {
    margin: 0px;
}

.navbar {
    background-image: none !important;
}

.btn-flat {
    background-image: none !important;
}

.header-clock {
    padding-top: 8px;
    padding-right: 22px;
    color: #CDCECD;
    font-size: 1em;
}

.input-message {
    /*+placement: -4px 4px;*/
    position: relative;
    left: -4px;
    top: 4px;
    padding-top: 3px;
}

.announcement-action span a {
    margin-right: 20px;
}

.announcement-action span a i {
    padding-right: 3px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
    border: 1px solid #CCD0D9;
}

/** JQuery UI Datepicker*/
.ui-datepicker table {
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin: 0 0 0.4em;
    color: #E8E8E8;
    background-color: #1F1F1F;
}

.ui-widget-content {
    border: 1px solid #DDD;
    background: #1F1F1F;
    color: #E0DFDE;
}

.ui-widget-header {
    border: 1px solid #DDD;
    background: #303030;
    color: #E8E8E8;
    font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: normal;
    border: 1px solid #1D1D1D;
    background: #1D1D1D;
    color: #E0DFDE;
}

#report-picker-button {
    font-weight: normal;
    border: 1px solid #1D1D1D;
    background: #1F282C;
    color: #E0DFDE;
    font-size: ;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #E9A23B;
    /*background: #464546;*/
    color: #E9A23B;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #5C9FEA;
    /*background: #007FFF;*/
    font-weight: normal;
    /*color: #FFF;*/
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border: 1px solid #CCC;
    background: #464546;
    font-weight: normal;
    color: #E0DFDE;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    background-color: #2A2A2A;
}

#ui-datepicker-div {
    z-index: 9999 !important;
    clip: auto !important;
}

/**
 * Progress bars with centered text
 */
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

/*
 * Page: Select Squadron
 * ----------------------
 */
.select-squadron-box {
    width: 768px;
    margin: 7% auto;
}

.select-squadron-box-header {
    width: 470px;
    /*+placement: 145px 0px;*/
    position: relative;
    left: 145px;
    top: 0px;
}

.select-squadron-box-body {
    background: #222222;
    padding: 15px;
    border-top: 3px solid #FF851B;
    color: #666;
    /*+box-shadow: 3px 3px 10px -4px;*/
    -moz-box-shadow: 3px 3px 10px -4px;
    -webkit-box-shadow: 3px 3px 10px -4px;
    box-shadow: 3px 3px 10px -4px;
}

.select-squadron-box-body .form-control-feedback {
    color: #777;
}

.select-squadron-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 1.5em;
    color: #FF851B;
}

.about-squadron-box h3 {
    color: #BFC1C0;
}

.list-group.scrollable {
    height: 457px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.row .about-squadron-box {
    height: 405px;
    overflow-y: auto;
    margin-bottom: 20px;
    /*border: 1px solid black;*/
    width: auto;
    padding: 8px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-left: 3px solid #CDCECD;
}

/*
 * Page: Privacy Policy / Welcome Message
 * ---------------------------------------
 */
.privacy-policy-box, .welcome-box {
    width: 768px;
    margin: 7% auto;
}

.privacy-policy-box-header, .welcome-box-header {
    width: 470px;
    /*+placement: 145px 0px;*/
    position: relative;
    left: 145px;
    top: 0px;
}

.privacy-policy-box-body, .welcome-box-body {
    background: #222222;
    padding: 15px;
    border-top: 3px solid #FF851B;
    color: #666;
    /*+box-shadow: 3px 3px 10px -4px;*/
    -moz-box-shadow: 3px 3px 10px -4px;
    -webkit-box-shadow: 3px 3px 10px -4px;
    box-shadow: 3px 3px 10px -4px;
}

.privacy-policy-box-msg, .welcome-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 1.5em;
    color: #FF851B;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0 !important;
}
