input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #CCC;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.report-label {
    /*+placement: 15px 5px;*/
    position: relative;
    left: 15px;
    top: 5px;
}

.report-picker {
    /*+placement: -40px 0px;*/
    position: relative;
    left: -40px;
    top: 0px;
}

.tag-button {
    margin: 0px;
}

/**
 * Progress bars with centered text
 */
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

/*
 * Page: Select Squadron
 * ----------------------
 */
.select-squadron-box {
    width: 768px;
    margin: 7% auto;
}

.select-squadron-box-header {
    width: 470px;
    /*+placement: 145px 0px;*/
    position: relative;
    left: 145px;
    top: 0px;
}

.select-squadron-box-body {
    background: #222222;
    padding: 15px;
    border-top: 3px solid #FF851B;
    color: #666;
    /*+box-shadow: 3px 3px 10px -4px;*/
    -moz-box-shadow: 3px 3px 10px -4px;
    -webkit-box-shadow: 3px 3px 10px -4px;
    box-shadow: 3px 3px 10px -4px;
}

.select-squadron-box-body .form-control-feedback {
    color: #777;
}

.select-squadron-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 1.5em;
    color: #FF851B;
}

.about-squadron-box h3 {
    color: #BFC1C0;
}

.list-group.scrollable {
    height: 457px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.row .about-squadron-box {
    height: 405px;
    overflow-y: auto;
    margin-bottom: 20px;
    /*border: 1px solid black;*/
    width: auto;
    padding: 8px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    border-left: 3px solid #CDCECD;
}

/*
 * Page: Privacy Policy / Welcome Message
 * ---------------------------------------
 */
.privacy-policy-box, .welcome-box {
    width: 768px;
    margin: 7% auto;
}

.privacy-policy-box-header, .welcome-box-header {
    width: 470px;
    /*+placement: 145px 0px;*/
    position: relative;
    left: 145px;
    top: 0px;
}

.privacy-policy-box-body, .welcome-box-body {
    background: #222222;
    padding: 15px;
    border-top: 3px solid #FF851B;
    color: #666;
    /*+box-shadow: 3px 3px 10px -4px;*/
    -moz-box-shadow: 3px 3px 10px -4px;
    -webkit-box-shadow: 3px 3px 10px -4px;
    box-shadow: 3px 3px 10px -4px;
}

.privacy-policy-box-msg, .welcome-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-size: 1.5em;
    color: #FF851B;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0 !important;
}
