<!-- Modal -->
<div class="modal modal-primary bg-dark fade" id="reasonCommentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Action required: Please enter your reason</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input id="reason-comment" class="form-control" size="40" name="reason-comment">
                    <input id="squadron_id" type="hidden" name="squadron_id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button id="save-button" type="button" class="btn btn-primary pull-right">Save</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->