<a href="#" title="Approve"><i class="fa fa-lg fa-check text-green"></i> </a>
<a href="#" title="Lock"><i class="fa fa-lg fa-lock text-black"></i> </a>
<a href="{{ path('admin_ban_member',{slug: id , token: csrf_token('ban_member')}) }}" title="Ban"><i class="fa fa-lg fa-ban margin-r-3 text-danger"></i></a>&nbsp;
<a href="#" title="Edit Settings"><i class="fa fa-lg fa-gear text-dark"></i> </a>