@font-face {
  font-family: 'ed-asset';
  src:  url('fonts/ed-asset.eot?yqv6lc');
  src:  url('fonts/ed-asset.eot?yqv6lc#iefix') format('embedded-opentype'),
    url('fonts/ed-asset.ttf?yqv6lc') format('truetype'),
    url('fonts/ed-asset.woff?yqv6lc') format('woff'),
    url('fonts/ed-asset.svg?yqv6lc#ed-asset') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ed-asset {
  display: inline-block;
  font: normal normal normal 14px/1 ed-asset;
  font-size: inherit;
  text-rendering: auto;
  vertical-align: -5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.ed-asset-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -27%;
}
.ed-asset-logo {
  font-size: 1.6em;
  line-height: 0.75em;
  vertical-align: -27%;
}
.ed-asset-login-logo {
  font-size: 2.75em;
  vertical-align: -27%;
}
.ed-asset-2x {
  font-size: 2em;
}
.ed-asset-3x {
  font-size: 3em;
}
.ed-asset-4x {
  font-size: 4em;
}
.ed-asset-5x {
  font-size: 5em;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ed-asset';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ed-asset-icon-surface_port_pm:before {
  content: "\e908";
}
.ed-asset-icon-Mega-Ship_Icon:before {
  content: "\e90b";
}
.ed-asset-icon-Asteroid_Station_Icon:before {
  content: "\e90c";
}
.ed-asset-icon-Ocellus_sm:before {
  content: "\e91a";
}
.ed-asset-icon-Orbis:before {
  content: "\e91d";
}
.ed-asset-icon-Coriolis_sm:before {
  content: "\e91e";
}
.ed-asset-icon-Coriolis:before {
  content: "\e91f";
}
.ed-asset-icon-leaderboard_website:before {
  content: "\e921";
}
.ed-asset-icon-squadrons:before {
  content: "\e922";
}
.ed-asset-icon-applications:before {
  content: "\e924";
}
.ed-asset-icon-tags:before {
  content: "\e925";
}
.ed-asset-icon-new-applications:before {
  content: "\e926";
}
.ed-asset-icon-members:before {
  content: "\e927";
}
.ed-asset-icon-manage-ranks:before {
  content: "\e928";
}
.ed-asset-icon-settings:before {
  content: "\e929";
}
.ed-asset-icon-elite-dangerous-minimalistic:before {
  content: "\e92a";
}
.ed-asset-icon-yuri-grom:before {
  content: "\e92b";
}
.ed-asset-icon-archon-delaine:before {
  content: "\e92c";
}
.ed-asset-icon-zemina-torval:before {
  content: "\e92d";
}
.ed-asset-icon-li-yong-rui:before {
  content: "\e92e";
}
.ed-asset-icon-pranav-antal:before {
  content: "\e92f";
}
.ed-asset-icon-denton-patreus:before {
  content: "\e930";
}
.ed-asset-icon-felicia-winters:before {
  content: "\e931";
}
.ed-asset-icon-arissa-lavigny-duval:before {
  content: "\e932";
}
.ed-asset-icon-zachary-hudson:before {
  content: "\e933";
}
.ed-asset-icon-aisling-duval:before {
  content: "\e934";
}
.ed-asset-icon-edmund-mahon:before {
  content: "\e935";
}
.ed-asset-icon-independent-power1:before {
  content: "\e936";
}
.ed-asset-icon-Federation:before {
  content: "\e937";
}
.ed-asset-icon-Empire:before {
  content: "\e938";
}
.ed-asset-icon-Alliance:before {
  content: "\e939";
}
