@font-face {
  font-family: 'ed-asset';
  src:  url('fonts/ed-asset.eot?plmp3q');
  src:  url('fonts/ed-asset.eot?plmp3q#iefix') format('embedded-opentype'),
    url('fonts/ed-asset.ttf?plmp3q') format('truetype'),
    url('fonts/ed-asset.woff?plmp3q') format('woff'),
    url('fonts/ed-asset.svg?plmp3q#ed-asset') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ed-asset {
  display: inline-block;
  font: normal normal normal 14px/1 ed-asset;
  font-size: inherit;
  text-rendering: auto;
  vertical-align: -5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.ed-asset-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -27%;
}
.ed-asset-logo {
  font-size: 1.6em;
  line-height: 0.75em;
  vertical-align: -27%;
}
.ed-asset-login-logo {
  font-size: 2.75em;
  vertical-align: -27%;
}
.ed-asset-2x {
  font-size: 2em;
}
.ed-asset-3x {
  font-size: 3em;
}
.ed-asset-4x {
  font-size: 4em;
}
.ed-asset-5x {
  font-size: 5em;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ed-asset';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ed-asset-icon-surface_port_pm:before {
  content: "\e908";
}
.ed-asset-icon-Mega-Ship_Icon:before {
  content: "\e90b";
}
.ed-asset-icon-Asteroid_Station_Icon:before {
  content: "\e90c";
}
.ed-asset-icon-Ocellus_sm:before {
  content: "\e91a";
}
.ed-asset-icon-Orbis:before {
  content: "\e91d";
}
.ed-asset-icon-Coriolis_sm:before {
  content: "\e91e";
}
.ed-asset-icon-Coriolis:before {
  content: "\e91f";
}
.ed-asset-icon-leaderboard_website:before {
  content: "\e921";
}
.ed-asset-icon-squadrons:before {
  content: "\e922";
}
.ed-asset-icon-applications:before {
  content: "\e924";
}
.ed-asset-icon-tags:before {
  content: "\e925";
}
.ed-asset-icon-new-applications:before {
  content: "\e926";
}
.ed-asset-icon-members:before {
  content: "\e927";
}
.ed-asset-icon-manage-ranks:before {
  content: "\e978";
}
.ed-asset-icon-settings:before {
  content: "\e929";
}
.ed-asset-icon-elite-dangerous-minimalistic:before {
  content: "\e92a";
}
.ed-asset-icon-yuri-grom:before {
  content: "\e92b";
}
.ed-asset-icon-archon-delaine:before {
  content: "\e92c";
}
.ed-asset-icon-zemina-torval:before {
  content: "\e92d";
}
.ed-asset-icon-li-yong-rui:before {
  content: "\e92e";
}
.ed-asset-icon-pranav-antal:before {
  content: "\e92f";
}
.ed-asset-icon-denton-patreus:before {
  content: "\e930";
}
.ed-asset-icon-felicia-winters:before {
  content: "\e931";
}
.ed-asset-icon-arissa-lavigny-duval:before {
  content: "\e932";
}
.ed-asset-icon-zachary-hudson:before {
  content: "\e933";
}
.ed-asset-icon-aisling-duval:before {
  content: "\e934";
}
.ed-asset-icon-edmund-mahon:before {
  content: "\e935";
}
.ed-asset-icon-independent-power1:before {
  content: "\e936";
}
.ed-asset-icon-Federation:before {
  content: "\e937";
}
.ed-asset-icon-Empire:before {
  content: "\e938";
}
.ed-asset-icon-Alliance:before {
  content: "\e939";
}
.ed-asset-icon-data-delivery:before {
  content: "\e900";
}
.ed-asset-icon-rescue-mission:before {
  content: "\e901";
}
.ed-asset-icon-mining:before {
  content: "\e902";
}
.ed-asset-icon-planetary-data-unknown-mission:before {
  content: "\e903";
}
.ed-asset-icon-courier-timed:before {
  content: "\e904";
}
.ed-asset-icon-skimmer-hunt:before {
  content: "\e905";
}
.ed-asset-icon-charity:before {
  content: "\e906";
}
.ed-asset-icon-base-assault:before {
  content: "\e907";
}
.ed-asset-icon-mercenary .path1:before {
  content: "\e909";
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path2:before {
  content: "\e90a";
  margin-left: -1em;
  }
.ed-asset-icon-mercenary .path3:before {
  content: "\e90d";
  margin-left: -1em;
    opacity: 0.375;
}
.ed-asset-icon-mercenary .path4:before {
  content: "\e90e";
  margin-left: -1em;
    opacity: 0.75;
}
.ed-asset-icon-mercenary .path5:before {
  content: "\e90f";
  margin-left: -1em;
    opacity: 0.25;
}
.ed-asset-icon-mercenary .path6:before {
  content: "\e910";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path7:before {
  content: "\e911";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path8:before {
  content: "\e912";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path9:before {
  content: "\e913";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path10:before {
  content: "\e914";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path11:before {
  content: "\e915";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path12:before {
  content: "\e916";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path13:before {
  content: "\e917";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path14:before {
  content: "\e918";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path15:before {
  content: "\e919";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path16:before {
  content: "\e91b";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-mercenary .path17:before {
  content: "\e91c";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier-no-scan .path1:before {
  content: "\e920";
    opacity: 0.5;
}
.ed-asset-icon-courier-no-scan .path2:before {
  content: "\e923";
  margin-left: -1em;
    opacity: 0.375;
}
.ed-asset-icon-courier-no-scan .path3:before {
  content: "\e93a";
  margin-left: -1em;
    opacity: 0.25;
}
.ed-asset-icon-courier-no-scan .path4:before {
  content: "\e93b";
  margin-left: -1em;
    opacity: 0.125;
}
.ed-asset-icon-courier-no-scan .path5:before {
  content: "\e93c";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier-no-scan .path6:before {
  content: "\e93d";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier-no-scan .path7:before {
  content: "\e93e";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path8:before {
  content: "\e93f";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path9:before {
  content: "\e940";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path10:before {
  content: "\e941";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path11:before {
  content: "\e942";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path12:before {
  content: "\e943";
  margin-left: -1em;
  }
.ed-asset-icon-courier-no-scan .path13:before {
  content: "\e944";
  margin-left: -1em;
  }
.ed-asset-icon-assassin:before {
  content: "\e945";
}
.ed-asset-icon-pirate-timed:before {
  content: "\e946";
}
.ed-asset-icon-timed-assassin:before {
  content: "\e947";
}
.ed-asset-icon-delivery-pirate .path1:before {
  content: "\e948";
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path2:before {
  content: "\e949";
  margin-left: -1em;
  }
.ed-asset-icon-delivery-pirate .path3:before {
  content: "\e94a";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path4:before {
  content: "\e94b";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path5:before {
  content: "\e94c";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path6:before {
  content: "\e94d";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path7:before {
  content: "\e94e";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path8:before {
  content: "\e94f";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path9:before {
  content: "\e950";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path10:before {
  content: "\e951";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path11:before {
  content: "\e952";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-pirate .path12:before {
  content: "\e953";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path1:before {
  content: "\e954";
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path2:before {
  content: "\e955";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path3:before {
  content: "\e956";
  margin-left: -1em;
  }
.ed-asset-icon-delivery-smuggle .path4:before {
  content: "\e957";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path5:before {
  content: "\e958";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path6:before {
  content: "\e959";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path7:before {
  content: "\e95a";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path8:before {
  content: "\e95b";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path9:before {
  content: "\e95c";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path10:before {
  content: "\e95d";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path11:before {
  content: "\e95e";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path12:before {
  content: "\e95f";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-smuggle .path13:before {
  content: "\e960";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-pirate:before {
  content: "\e961";
}
.ed-asset-icon-hauling:before {
  content: "\e962";
}
.ed-asset-icon-delivery-planet .path1:before {
  content: "\e963";
    opacity: 0.5;
}
.ed-asset-icon-delivery-planet .path2:before {
  content: "\e964";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-planet .path3:before {
  content: "\e965";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-planet .path4:before {
  content: "\e966";
  margin-left: -1em;
  }
.ed-asset-icon-delivery-planet .path5:before {
  content: "\e967";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-planet .path6:before {
  content: "\e968";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery-planet .path7:before {
  content: "\e969";
  margin-left: -1em;
  }
.ed-asset-icon-courier-planet .path1:before {
  content: "\e96a";
  }
.ed-asset-icon-courier-planet .path2:before {
  content: "\e96b";
  margin-left: -1em;
    opacity: 0.75;
}
.ed-asset-icon-courier-planet .path3:before {
  content: "\e96c";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier-planet .path4:before {
  content: "\e96d";
  margin-left: -1em;
    opacity: 0.25;
}
.ed-asset-icon-courier-planet .path5:before {
  content: "\e96e";
  margin-left: -1em;
  }
.ed-asset-icon-courier-planet .path6:before {
  content: "\e96f";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier-planet .path7:before {
  content: "\e970";
  margin-left: -1em;
  }
.ed-asset-icon-delivery .path1:before {
  content: "\e971";
    opacity: 0.5;
}
.ed-asset-icon-delivery .path2:before {
  content: "\e972";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery .path3:before {
  content: "\e973";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-delivery .path4:before {
  content: "\e974";
  margin-left: -1em;
  }
.ed-asset-icon-delivery .path5:before {
  content: "\e975";
  margin-left: -1em;
    opacity: 0.5;
}
.ed-asset-icon-courier:before {
  content: "\e976";
}
.ed-asset-icon-unknown-mission:before {
  content: "\e977";
}
.ed-asset-icon-squadron-rank-1:before {
  content: "\e979";
}
.ed-asset-icon-squadron-rank-2:before {
  content: "\e97a";
}
.ed-asset-icon-squadron-rank-3:before {
  content: "\e97b";
}
.ed-asset-icon-squadron-rank-4:before {
  content: "\e97c";
}
.ed-asset-icon-squadron-rank-5:before {
  content: "\e928";
}
