<div id="exploration_earning" class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="ion ion-planet"></i> Exploration Data Sold over last 30 days</h3>
        <div class="box-tools pull-right">
            <button id="exploration_earning_refresh" class="btn btn-xs btn-primary"><i class="fa fa-refresh"></i> Refresh</button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <canvas id="exploration_earning_chart" height="80"></canvas>
    </div>
    <!-- /.box-body -->
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
<!-- /.box -->