<div id="mission_earning" class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="ed-asset ed-asset-icon-courier"></i> Mission Rewards Collected over last 30 days</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <canvas id="mission_earning_chart" height="80"></canvas>
    </div>
    <!-- /.box-body -->
    <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>
<!-- /.box -->