<!-- Modal -->
<div class="modal modal-primary fade" id="errorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}Houston, we have a problem!{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <p>{{ error|markdown }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left"
                        data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->