<!-- Sidebar Menu -->
{% if is_granted("ROLE_USER")  %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">SQUADRON NAVIGATION</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li><a href="#"><i class="fa fa-bullhorn"></i> <span>Announcements</span></a></li>
    <li><a href="#"><i class="fa fa-line-chart"></i> <span>Squadron Activities</span></a></li>
    <li><a href="#"><i class="fa fa-bolt"></i> <span>Hot Spots</span></a></li>
    <li><a href="#"><i class="fa fa-tachometer"></i> <span>My Performance</span></a></li>
    <li><a href="#"><i class="fa fa-area-chart"></i> <span>My Statistics</span></a></li>
</ul>
{% endif %}
{% if is_granted("ROLE_ADMIN") %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">ADMINISTRATION</li>
    <!-- Optionally, you can add icons to the links -->
    <li><a href="{{ path('admin_squadron_settings') }}"><i class="fa fa-gear"></i><span>Squadron Settings</span><span class="pull-right-container">
              <small class="label pull-right bg-green"><i class="fa fa-star"></i></small>
            </span></a></li>
    <li><a href="{{ path('admin_list_announcements') }}"><i class="fa fa-bullhorn"></i><span>Manage Announcements</span><span class="pull-right-container">
              <small class="label pull-right bg-green"><i class="fa fa-star"></i> </small>
            </span></a></li>
    <li><a href="{{ path('admin_list_members') }}"><i class="ed-asset-icon-members margin-r-5"></i><span>Manage Members</span><span class="pull-right-container">
              <small class="label pull-right bg-green"><i class="fa fa-star"></i> </small>
            </span></a></li>
    <li><a href="#"><i class="fa fa-lock"></i><span>Configure Roles</span></a></li>
</ul>
{% endif %}
<!-- /.sidebar-menu -->