{% extends 'base.html.twig' %}

{% block title %}{% trans %}Squadron Announcements{% endtrans %}{% endblock %}

{% block content %}
    <div class="content">
        <div class="jumbotron">
            <h1>// To Do</h1>
            <p>Placeholder for future addition</p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}