/*
 * Skin: Dark
 * ----------
 */
/* skin-black navbar */
.skin-dark .main-header {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-dark .main-header .navbar-toggle {
    color: #333;
}
.skin-dark .main-header .navbar-brand {
    color: #EEE;
    border-right: 1px solid #EEE;
}
.skin-dark .main-header .navbar {
    background-color: #222D32;
}
.skin-dark .main-header .navbar .nav > li > a {
    color: #FFFFFF;
}
.skin-dark .main-header .navbar .nav > li > a:hover,
.skin-dark .main-header .navbar .nav > li > a:active,
.skin-dark .main-header .navbar .nav > li > a:focus,
.skin-dark .main-header .navbar .nav .open > a,
.skin-dark .main-header .navbar .nav .open > a:hover,
.skin-dark .main-header .navbar .nav .open > a:focus,
.skin-dark .main-header .navbar .nav > .active > a {
    background: #1E282C;
    color: #FFFFFF;
}
.skin-dark .main-header .navbar .sidebar-toggle {
    color: #333333;
}
.skin-dark .main-header .navbar .sidebar-toggle:hover {
    color: #FFFFFF;
    background: #1E282C;
}
.skin-dark .main-header .navbar > .sidebar-toggle {
    color: #FFFFFF;
    border-right: 1px solid #222;
}
.skin-dark .main-header .navbar .navbar-nav > li > a {
    border-right: 1px solid #222;
}
.skin-dark .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-dark .main-header .navbar .navbar-right > li > a {
    border-left: 1px solid #222;
    border-right-width: 0;
}
.skin-dark .main-header > .logo {
    background-color: #222D32;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
    border-right: 1px solid #222;
}
.skin-dark .main-header > .logo:hover {
    background-color: #1E282C;
}
@media (max-width: 767px) {
    .skin-dark .main-header > .logo {
        background-color: #222222;
        color: #FFFFFF;
        border-bottom: 0 solid transparent;
        border-right: none;
    }
    .skin-dark .main-header > .logo:hover {
        background-color: #1F1F1F;
    }
}
.skin-dark .main-header li.user-header {
    background-color: #222;
}
.skin-dark .content-header {
    background: transparent;
    box-shadow: none;
}
.skin-dark .wrapper,
.skin-dark .main-sidebar,
.skin-dark .left-side {
    background-color: #222D32;
}
.skin-dark .user-panel > .info,
.skin-dark .user-panel > .info > a {
    color: #FFF;
}
.skin-dark .sidebar-menu > li.header {
    color: #4B646F;
    background: #1A2226;
}
.skin-dark .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-dark .sidebar-menu > li:hover > a,
.skin-dark .sidebar-menu > li.active > a,
.skin-dark .sidebar-menu > li.menu-open > a {
    color: #FFFFFF;
    background: #1E282C;
}
.skin-dark .sidebar-menu > li.active > a {
    border-left-color: #FFFFFF;
}
.skin-dark .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2C3B41;
}
.skin-dark .sidebar a {
    color: #B8C7CE;
}
.skin-dark .sidebar a:hover {
    text-decoration: none;
}
.skin-dark .sidebar-menu .treeview-menu > li > a {
    color: #8AA4AF;
}
.skin-dark .sidebar-menu .treeview-menu > li.active > a,
.skin-dark .sidebar-menu .treeview-menu > li > a:hover {
    color: #FFFFFF;
}
.skin-dark .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-dark .sidebar-form input[type="text"],
.skin-dark .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.skin-dark .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-dark .sidebar-form input[type="text"]:focus,
.skin-dark .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #FFF;
    color: #666;
}
.skin-dark .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #FFF;
}
.skin-dark .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.skin-dark .pace .pace-progress {
    background: #222;
}
.skin-dark .pace .pace-activity {
    border-top-color: #222;
    border-left-color: #222;
}
