<div class="modal fade in" id="filter-modal" style="user-select: auto; display: none; padding-right: 15px;">
    <div class="modal-dialog modal-lg" role="document" style="user-select: auto;">
        <div class="modal-content" style="user-select: auto;">
            <div class="modal-header" style="user-select: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="user-select: auto;">
                    <span aria-hidden="true" style="user-select: auto;">×</span></button>
                <h4 class="modal-title" style="user-select: auto;"><i class="fas fa-filter margin-r-5"></i> Fine Tune
                    Your Report Results</h4>
            </div>
            <div class="modal-body" style="user-select: auto;">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group-sm">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                    <input type="text" class="form-control" id="keyword" name="keyword"
                                           placeholder="{% trans %}Keyword{% endtrans %}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-sm" style="user-select: auto;">
                                <span class="input-group-addon" style="user-select: auto;"><i
                                            class="fas fa-calendar-alt"></i></span>
                                <input type="text" id="start-date" class="form-control"
                                       placeholder="{% trans %}Start Date{% endtrans %}" style="user-select: auto;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-sm" style="user-select: auto;">
                                <span class="input-group-addon" style="user-select: auto;"><i
                                            class="fas fa-calendar-alt"></i></span>
                                <input type="text" id="end-date" class="form-control"
                                       placeholder="{% trans %}End Date{% endtrans %}" style="user-select: auto;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer" style="user-select: auto;">
            <button type="button" class="btn btn-sm btn-primary pull-right"
                    style="user-select: auto;">{% trans %}Apply Filter{% endtrans %}</button>
            <button type="button" class="btn btn-sm btn-default margin-r-5" data-dismiss="modal"
                    style="user-select: auto;">Close
            </button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>